name: golangci-lint
on: [push, pull_request]
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "stable"
          cache-dependency-path: go.sum

      - name: golangci-lint
        run: go run github.com/golangci/golangci-lint/cmd/golangci-lint@latest run ./...


